#banner_part{
    max-height: 100%;
    max-width: 100%;
    min-height: 60vh; 
    background-size: cover;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
}

.banner_text{
    text-align: center;
    color: white;
    padding-top: 100px;
}

.banner_text p{
    padding-bottom: 25px;
}

.link_button{
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: #d64d23;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
