#banner_part{
    margin-bottom: 50px;
    max-height: 100%;
    max-width: 100%;
    min-height: 60vh; 
    background-size: cover;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
}

.banner_text{
    text-align: center;
    color: white;
    padding-top: 100px;
}

.banner_text p{
    padding-bottom: 25px;
}

.link_button{
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: #d64d23;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* banner part end */

/* donation part start */

#donation_part{
    margin-bottom: 100px;
}

.donation_text{
    text-align: center;
}

.amount_text{
    display: flex;
}

.amount_one{
    text-align: center;
    padding-left: 20px;
    padding-top: 70px;
    width:20%;
    height:100px;
}

.amount_two{
    text-align: center;
    border: 1px solid red;
    padding-left: 20px;
    padding-top: 70px;
    width:20%;
    height:100px;
}

.amount_three{
    text-align: center;
    padding-left: 20px;
    padding-top: 70px;
    width:20%;
    height:100px;
}

.amount_four{
    text-align: center;
    padding-left: 20px;
    padding-top: 70px;
    width: 20%;
    height:100px;
}

.amount_five{
    text-align: center;
    padding-right: 20px;
    padding-top: 70px;
    width: 20%;
    height:100px;
}

#donate_box{
    text-align: center;
    padding-top: 50px;
}

.donate_button{
    padding-top: 50px;
}

/* donation part end */

/* donation plan part start */

.all_plans{
    padding-bottom: 100px;
}

.plan_text{
    text-align: center;
    margin-bottom: 50px;
}

.plan_one{
    float:left;
    background:rgb(219, 243, 245);
    width:33%;
    height:280px;
}

.plan_two{
    float:left; 
    background:rgb(247, 203, 203);
    width:33%;
    height:280px;
}

.plan_three{
    float:right; 
    background:rgb(241, 199, 238);
    width:33%;
    height:280px;
}

/* donation plan part end */

/* contribution part start */

#cont_part{
    display: flex;
    width: 100%;
    margin-top: 300px;
    text-align: center;
}

.cont_para{
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 70px;
}

#cont_part img{
    width:400px;
    height: 500px;
}

/* contribution part end */

/* udate Part start */

#update_part{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.update_text{
    padding-bottom: 50px;
}

#update_box{
    border: 50px solid rgb(226, 223, 223);
    margin-left: 350px;
    margin-right: 350px
}


/* udate Part end */

/* footer part start */

#footer_part{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
}

.fot_txt{
    color: rgb(236, 149, 49);
}

.para_text{
    color: white;
}

.head_text{
    color: rgb(165, 153, 153);
}

.footer_text{
    padding-top: 50px;
}

/* footer part end */